name: Run Scan Every 15 Minutes

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  call-api:
    runs-on: ubuntu-latest
    steps:
      - name: Call API
        run: curl -sS -X GET https://wt-scanner1.vercel.app/api/scan
